src/main/resources/personSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.example.org/personSchema"
        xmlns:person="http://www.example.org/personSchema">

    <complexType name="personType">
        <sequence>
            <element name="login" type="string"/>
            <element name="address" type="string"/>
        </sequence>
    </complexType>
     
</schema>